{% block animation %}
<div id="loader">
    <div class="animation-wrapper">
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
        <div class="forth"></div>
    </div>
    <div class="text-wrapper">
        <p>Please wait image is being processed!</p>
    </div>
</div>
{% endblock %}