<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Edit image online" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={{ url('index') }} />
        <meta property="og:site_name" content="PyMosaic" />
        <meta property="og:image" content={{ url('static', filename='/images/favicon/android-chrome-512x512.png') }} />
        <meta property="og:description" content="Small image processing online tool." />
        <title>{% block title %}{% endblock %} - PyMosaic</title>
        <link rel="shortcut icon" type="image/x-icon" href={{ url('static', filename='/images/favicon/favicon.ico') }} >
        <link rel="icon" type="image/png" href={{ url('static', filename='/images/favicon/favicon-16x16.png') }} sizes="16x16">
        <link rel="icon" type="image/png" href={{ url('static', filename='/images/favicon/favicon-32x32.png') }} sizes="32x32">
        <link rel="icon" type="image/png" href={{ url('static', filename='/images/favicon/android-chrome-192x192.png') }} sizes="192x192">
        <link rel="icon" type="image/png" href={{ url('static', filename='/images/favicon/android-chrome-512x512.png') }} sizes="512x512">
        <link rel="apple-touch-icon" href={{ url('static', filename='/images/favicon/apple-touch-icon.png') }} sizes="180x180">
        <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href={{ url('static', filename='/css/animation.css') }} />
        <style>
            .moon-img::before{
                content: "\263C";
            }
        </style>
    {% endblock %}
</head>
<body data-set-preferred-mode-onload="true">
    {% include 'animation.html.jinja' without context %}
    <div class="page-wrapper with-navbar">
        {% include 'navbar.html.jinja' without context %}
        {% block content %}
        {% endblock %}
        <script defer src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    </div>
</body>
</html>