{% extends "base.html.jinja" %}
{% block title %} Error {% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">An error occured!</h4>
        {{error}}
    </div>
{% endblock %}