{% extends "base.html.jinja" %}
{% block title %} Index {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href={{ url('static', filename='/css/index-style.css') }} />
    <link rel="stylesheet" href={{ url('static', filename='/css/selection_area.css')}} />

{% endblock %}

{% block content %}
    <h2>Welcome to PyMosaic</h2>

    <div class="mw-full">
        <form novalidate id="form-upload" class="d-flex flex-column align-items-center">
            <div class="form-group">
                <div class="custom-file text-center">
                    <input type="file" id="file" accept=".png, .jpg, .jpeg, .gif" required>
                    <label for="file" class="w-300 align-self-center">Choose image</label>
                </div>
            </div>
                
            <div class="form-group">
                <label for="chunk-sizes" class="required">Chunk sizes</label>
                <input type="number" min="2" max="1000" value="2" class="form-control form-control-sm w-300" required>
            </div>

            <button class="btn btn-primary w-150" type="submit">Upload and process</button>
        </form>
    </div>


    <div class="d-flex justify-content-center pt-20">
        <div class="col-6 d-flex justify-content-center selection_wrapper">
        </div>
    </div>

    <script defer src={{ url('static', filename='/js/selection_area.js') }}></script>
    <script async src={{ url('static', filename='/js/upload_handler.js') }}></script>
{% endblock %}
